.lista-suspensa label {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;

}

.lista-suspensa select {    
    background-color: #FFF;    
    padding: 24px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    border: none;
    font-size: 24px;
    width: 100%;
    box-sizing: border-box;    

}